body {
  font-size: larger;
}

button a {
  font-size: 2rem;
}

details {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  /* background-color: #0c4da230; */
  h1, h2, h3, p {
    margin: 25px;
  }
}

details[open] {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #02004b, #0c4da200);
  border-radius: 30px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

summary {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem 0 1rem 0;
  display: block;
  position: relative;
  cursor: pointer;
  color: black;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}


summary::before {
  margin-left: 2px;
  display: inline-block;
  transition: 0.2s;
  padding: 4px 10px 4px 10px;
  margin-right: 8px;
  content: '>'; 
  color: black;
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
}

hr {
  position:absolute;
  margin-left: 16px;
  min-height: 120vh;
  width: 2px;
  background-color: black;
}

/* summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent black;
  position: absolute;
  background-color: aqua;
  padding: 5px;
  border-radius: 90%;
  top: 1.3rem;
  left: 2.0rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
  
} */

.container img {
    max-width: 600px;
    margin: auto;
}



a.small_link {
    color: rgb(169, 169, 10);
    font-size: smaller;
}

details ul {
    list-style-position: inside;
    list-style-image: url('/img/mini_dg.svg');

    a{
        color: #02004B;
    }

    li {
        padding: 7px 0 7px 0 ;
    }
}

details.ressources ul{
  background-color: #FBC90F60;
  padding: 4%;
}

header nav {
    direction: rtl;
    padding-right: 20px;
}

.active-button {
  background: linear-gradient(#02004b, #0c4da2);
  a {
    color: white;
  }
} 

.title{
  margin-top: 0;
  margin-left: 50px;
  padding-top: 20px;
}

img.acceuil{
  max-height: 600px;
  margin-right: 200px;
  margin-top: 0px;
}