/* ---------------------ENTETE-------------------- */
/* Réinitialisation des marges et des rembourrages */
body,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Style de l'entête */
header {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0 0 20px 0 grey;
  display: table;
  height: 8px;
  /*length: 100%;*/
  width: 100%;
  z-index: 2;
  position: relative;
}

/* Style du titre de l'entête */
header h1 {
  a {
    color: #cea512;
    font-family: Impact;
    text-decoration: none;
    scale: 1.2;
  }

  display: table-cell;
  width: 35%;
  padding-left: 10px;
  vertical-align: middle;
}

h1 {
  color: #cea512;
  font-family: Impact;
  text-decoration: none;
  font-size: 2em;
}

h2 {
  color: #02004b;
  font-family: Impact;
}

p {
  text-align: justify;
}

#logo {
  width: 20%;
  display: table-cell;
  margin-left: 12px;
}

nav {
  width: 40%;
  display: table-cell;
  vertical-align: middle;
}

/* Style de la navigation */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  font-family: Gill sans nova;
  color: #cea512;
}

nav ul li img {
  opacity: 60%;
}

nav ul li img:hover {
  opacity: 100%;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* ---------------------BOUTON----------------------------- */

.acceuil {
  display: inline;
  text-align: center;
  position: absolute;

  img {
    margin-top: 20px;
    float: left;
    width: 80%;
  }

  .button-container {
    float: right;
  }
}

.button-container {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 240px;
  text-align: right;
}

.button {
  border: none;
  padding: 0px;
  margin: none;
  width: 75px;
  display: inline-block;
  justify-content: flex-end;
  height: 100%;
  font-size: 30px;
  text-align: center;
}

.button a {
  height: 100%;
  /* Proportion des boutons  */
  font-family: Gill sans nova;
  cursor: crosshair;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: black;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(#02004b, #0c4da2);
  color: white;

  a {
    color: white;
  }
}

.section {
  width: calc(100% - 240px);
}

.container {
  margin: auto;
  width: 60%;
}

.apropos {
  // border: 10px solid;
  // border-image-slice: 1;
  // border-width: 5px;
  // border-image-source: linear-gradient(to top, #02004b30, #0c4da2);
  // border-radius: 30px;
  // border-right: 0;
  // border-bottom: 0;
  // padding-left: 12px;
  // margin-right: 300px;
  text-align: justify;
  width: 60%;
  display: block;
  clear: both;

  h2 {
    color: #cea512;
    font-size: 54px;
    //text-align: center;
    font-variant: small-caps;
    font-weight: 900;
  }

  h3 {
    color: #0c4da2;
    font-size: 34px;
  }

  #maj_texte {
    color: #0c4da2;
    font-size: 34px;
    text-align: center;
    font-weight: 900;
    padding: 12px;
    margin-top: 22px;
    margin-bottom: 12px;
    border-top: solid 2px #cea512;
  }

  #maj_date {
    color: #cea512;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 22px;
    padding: 12px;
    border-bottom: solid 2px #cea512;
  }

  #logo_partenaires p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      height: 90px;
      width: auto;
      float: none;
      margin: 12px;
    }
  }
}

.img_largeur_max {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;

  img {
    width: 100%;
  }

  p {
    margin: auto;
    font-size: 0.9em;
    font-style: italic;
  }
}

.idr_slider,
.tester_slider {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #02004b, #0c4da200);
  border-radius: 30px;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  padding-top: 12px;
}

h2.slider_title {
  text-align: center;
  margin: 20px 0 0 0;
}

.idr {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  width: 70%;

  h1 {
    text-align: center;
    margin: auto;
    color: #cea512;
    font-size: 2.8em;
  }
}

a.bouton {
  font-weight: 900;
  text-decoration: none;
  border-radius: 9px;
  color: #02004B;
  background-color: #cea512;
  padding: 2px 5px 2px 8px;

  &:hover {
    color: #ffffff;
    background-color: #02004B;
  }
}

.previous-slide-arrow {
  position: absolute;
  left: 10px;
  text-decoration: none;
  border-radius: 9px;
  color: #02004B;
  background-color: #cea512;
  padding: 8px;

  &:hover {
    color: #ffffff;
  }
}

.next-slide-arrow {
  position: absolute;
  right: 10px;
  text-decoration: none;
  border-radius: 9px;
  color: #02004B;
  background-color: #cea512;
  padding: 8px;

  &:hover {
    color: #ffffff;
  }
}

.footnote-definition-label {
  position: absoluteF§;
}

/* carrousel */
/* https://codepen.io/Schepp/pen/WNbQByE */
/* https://codepen.io/chriscoyier/pen/XwbNwX */

.slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.slides {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 70vw;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(500px);
  scroll-snap-type: mandatory;
  margin: auto;

  h1 {
    margin-top: 1.2em;
    margin-bottom: 15px;
  }

  p {
    margin: 0.5em;
  }
}

.slides::before {
  padding-top: 50px;
  margin-top: -50px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide>p>img {
  display: block;
  max-width: 600px;
  margin: auto;
}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider>a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider>a:active {
  top: 1px;
}

.slider>a:focus {
  background: #000;
}

.slider {
  overflow: hidden;
  display: flex;

  summary {
    color: #0c4da2 !important;
    font-weight: bold !important;
  }
}

.slide {
  width: 70vw;
}

#carousel__counter {
  text-align: center;
  position: absolute;

  a {
    color: #02004b;
    padding: 8px;
    height: 25px;
    width: 25px;
    background-color: #02004b1e;
    border-radius: 50%;
    display: block;
    margin: 25px;
  }
}


body {
  font-size: larger;
}

button a {
  font-size: 2rem;
}

details {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  overflow: hidden;

  /* background-color: #0c4da230; */
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 25px;
  }

  h4 {
    font-size: 1em;
    color: #02004B;
  }

  ul {
    list-style-image: url('/img/mini_dg.svg');

    a {
      color: #02004B;
    }

    li {
      margin-left: 60px;
      padding: 0px 0px 7px 0;
    }
  }
}

details[open] {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #02004b, #0c4da200);
  border-radius: 30px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

details.en_savoir_plus {
  border: none;
  margin-left: 25px;

  summary::before {
    font-weight: 900;
    border: none;
  }

  summary {
    font-weight: 900;
    color: #02004B;
  }
}

summary {
  padding: 1rem 0 1rem 0;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  font-style: oblique;
  color: #02004B;
}

details[open]>summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}


summary::before {
  margin-left: 2px;
  display: inline-block;
  transition: 0.2s;
  padding: 4px 10px 4px 10px;
  margin-right: 8px;
  content: '>';
  font-weight: 900;
  color: #02004B;
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
}

hr {
  position: absolute;
  margin-left: 16px;
  min-height: 380vh;
  width: 2px;
  background-color: black;
}

ol {
  margin: 0.5em 0 0.5em 0;
}

.notes {
  padding-left: 1.8em;
  font-size: 0.9em;

  li {
    margin: 0 0 0 0;
  }
}

/* summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent black;
  position: absolute;
  background-color: aqua;
  padding: 5px;
  border-radius: 90%;
  top: 1.3rem;
  left: 2.0rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
  
} */

.container img {
  max-width: 600px;
  margin: auto;
}



a.small_link {
  color: rgb(169, 169, 10);
  font-size: smaller;
}

details.ressources ul {
  background-color: #FBC90F60;
  padding: 4%;
}

header nav {
  direction: rtl;
  padding-right: 20px;
}

.active-button {
  background: linear-gradient(#02004b, #0c4da2);

  a {
    color: white;
  }
}

.title {
  margin-top: 0;
  margin-left: 50px;
  padding-top: 20px;
}

img.acceuil {
  max-height: 600px;
  margin-right: 200px;
  margin-top: 0px;
}