/* ---------------------ENTETE---------------------------------------- */
/* Réinitialisation des marges et des rembourrages */
body,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Style de l'entête */
header {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0 0 20px 0 grey;
  display: flex;
  display: table;
  height: 8px;
  /*length: 100%;*/
  width: 100%;
}

/* Style du titre de l'entête */
header h1 {
  a {
    color: #fbc90f;
    font-family: Impact;
    text-decoration: none;

  }
  width: 50%;
  padding-left: 10px;
  margin: 5px;
}

nav {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

/* Style de la navigation */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  font-family: Gill sans nova;
  color: #fbc90f;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* ---------------------BOUTON---------------------------------------- */

.acceuil {
  display: inline;
  text-align: center;
  img{
    max-height: 600px;
    margin: 60px 20px 20px 60px;
    float: left;
    position: absolute;
  }
  .button-container {
    float: right;
  }
}

.button-container {
  position: absolute;
  right: 0;
}


.button {
  border: none;
  padding: 0;
  margin: 0;
  width: 50px;
  display: inline-block;
  height: 100%;
  &:hover {
    color: white;
  }
}

.button a {
  height: 100%;
  /* Proportion des boutons  */
  font-family: Gill sans nova;
  cursor: crosshair;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: black;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(#02004b, #0c4da2);
  color: white;
  a {
    color: white;
  }
}

.container {
  margin: auto;
  width: 55%;
}
