@media (max-width: 900px) {
  header h1 {
    display: none;
  }
  .container {
    width: 95%;
  }
  .container img {
    max-width: 400px;
  }
  .button-container {
    display: none;
  }
  .section {
    width: 100%;
  }

  header {
    nav {
      width: 80%;
      padding-right: 0;
      font-size: smaller;
      img{
        width: 60%;
      }
    }
    #logo{
      width: 60%;
      display: inline;
    }
  }

  hr {
    display: none;
  }

  summary {
   background-color: #FFFFFF90;
  } 

  .acceuil {
    max-width: 100%;
    img{ 
      padding-top: 20px;
      margin: auto;
      float: none;
    }
  }

  .apropos {
    margin: 8px;
    border: none;
  }
}

