@media (max-width: 900px) {
  body {
    font-size: 0.9em;
  }

  header h1 {
    display: none;
  }

  .container {
    width: 95%;
  }

  .container img {
    max-width: 400px;
  }

  .button-container {
    display: none;
  }

  .section {
    width: 100%;
  }

  .idr{
    width: 90%;
  }

  header {
    nav {
      width: 60%;
      padding-right: 0;
      font-size: smaller;

      img {
        width: 60%;
      }
    }

    #logo {
      display: none;
    }

    .search-results {
      right: 0;
      left: 12px;
    }
  }

  hr {
    display: none;
  }

  summary {
    background-color: #FFFFFF90;
  }

  .accueil {
    max-width: 100%;

    img {
      padding-top: 20px;
      margin: auto;
      float: none;
    }
  }

  .apropos {
    margin: 8px;
    border: none;
  }

  details ul li {
    margin-left: 30px;
    padding-top: 5px;
    line-height: 1.4em;
  }

  #carousel__counter {
    display: none;
  }

  .slides {
    width: 90vw;
  }

  footer {
    width: 90%;
    margin: auto;
  }
}