<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Pou Rouge</title>
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="adrien.css" />
    <link rel="stylesheet" href="media.css" />
    <base href="https://adrientaudiere.github.io/dgpoule/" />
  </head>

  <body>
    <header>
      <h1><a href="">DG-POULE</a></h1>
      <nav>
        <ul>
          <li><a href="faq">FAQ</a></li>
          <li><a href="ressources">Ressources</a></li>
          <li><a href="connaissance">Connaissance</a></li>             
        </ul>
      </nav>
    </header>
    <section class="section">
      {% block content %} {% endblock %}
    </section>
  </body>
</html>
