<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Pou Rouge</title>
    <base href="https://adrientaudiere.github.io/dgpoule/" /> <!-- À décommenter pour github page -->
    <link rel="stylesheet" href="https://adrientaudiere.github.io/dgpoule/base.css" />                <!-- À décommenter pour github page -->
    <link rel="stylesheet" href="https://adrientaudiere.github.io/dgpoule/adrien.css" />              <!-- À décommenter pour github page -->
    <link rel="stylesheet" href="https://adrientaudiere.github.io/dgpoule/media.css" />               <!-- À décommenter pour github page -->

    <!-- <link rel="stylesheet" href="/base.css" />-->     <!-- À commenter pour github page -->   
    <!-- <link rel="stylesheet" href="/adrien.css" /> -->  <!-- À commenter pour github page --> 
    <!-- <link rel="stylesheet" href="/media.css" />  -->  <!-- À commenter pour github page --> 
  </head>

  <body>
    <header>
      <!-- <h1><a href="/">DG-POULE</a></h1> --> <!-- À commenter pour github page --> 
      <h1><a href="">DG-POULE</a></h1> <!-- À décommenter pour github page -->
      <nav>
        <ul>
          <li><a href="faq">FAQ</a></li>
          <li><a href="ressources">Ressources</a></li>
          <li><a href="connaissance">Connaissance</a></li>             
        </ul>
      </nav>
    </header>
    <section class="section">
      <div class="container">
      {% block content %} {% endblock %}
    </div>
    </section>
  </body>
</html>
