{% extends "base.html" %} {% block content %}
<section class="section">
  <div class="container">
    <div class="button-container">
      <button class="button"><a href="/connaissance">LE SAVIEZ-VOUS</a></button>
      <button class="button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
      <button class="button active-button"><a href="/faq">FAQ</a></button>
      <button class="button"><a href="/ressources">RESSOURCES</a></button>
    </div>

    <h1 class="title">{{ section.title }}</h1>
    {{ section.content | safe }} 
    
    <!-- 
    <div class="sommaire_idr">
      <p style="text-align: center; font-weight: 900; color:#02004b"> Liste des « Le-saviez-vous »</p> 
    {% set_global count = 1 %} {% for page in section.pages %} 
      <p> <a href="/faq#faq-{{ count }}"> {{ page.title }}</a>
      </p>
        {% set_global count = count + 1 %}
      {% endfor %}
    </div> -->

    <!-- <hr /> -->
    {% set_global count = 1 %}
      {% for page in section.pages %}
      <details id="faq-{{ count }}">
        <summary>{{ page.title }}</summary>
        {{ page.content | safe }}
       
      </details>
      {% set_global count = count +1 %}
      {% endfor %}
  </div>
</section>
{% endblock content %}
