{% extends "base.html" %} {% block content %}
<section class="section">
  <div class="container">
    <div class="button-container">
      <button class="button"><a href="/connaissance">CONNAISSANCE </a></button>
      <button class="button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
      <button class="button active-button"><a href="/faq">FAQ</a></button>
      <button class="button"><a href="/ressources">RESSOURCES</a></button>
    </div>

    <h1 class="title">{{ section.title }}</h1>
    {{ section.content | safe }} 

    <hr />
 
      {% for page in section.pages %}
      <details>
        <summary>{{ page.title }}</summary>
        {{ page.content | safe }}
           <!-- <ul><p>
          <a class="small_link" href="{{ page.permalink | safe }}">
            (Lien vers la page spécifique de la question)</a
          >
        </p> -->
      </details>

      {% endfor %}
    </ul>
  </div>
</section>
{% endblock content %}
