{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="button-container">
    <button class="button"><a href="/connaissance">LE SAVIEZ-VOUS ?</a></button>
    <button class="button active-button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
    <button class="button"><a href="/faq">FAQ</a></button>
    <button class="button"><a href="/ressources">RESSOURCES</a></button>
  </div>

  <div class="container gestion_div">
    <h1 class="title">{{ section.title }}</h1>

    <ol class="toc" type="I">
      {% for h1 in section.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}"><strong>{{ h1.title }}</strong></a>
        {% if h1.children %}
        <ol type="a">
          {% for h2 in h1.children %}

          <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
            <ul>
              {% for h3 in h2.children %}
              <li  style="list-style: none;">
                <a href="{{ h3.permalink | safe }}"><em>{{ h3.title }}</em></a>
                <ul>
                  {% for h4 in h3.children %}
                  <li>
                    <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
      {% endfor %}
    </ol>

    <p>
     Cette page survole les grands principes de la gestion intégrée des bioagresseurs de type insectes et acariens EN
      GENERAL et indique dans quelle mesure elle est ou peut être appliquée au pou rouge des poules. Elle vise à ouvrir
      le champ des possibles et ne constitue en aucun cas une liste de prescription. Nous encourageons les personnes qui
      souhaitent en savoir plus à se rapprocher de personnes compétentes (voir <a class="bouton"
        href="/ressources#conseil">Conseils</a>). Pour ceux qui souhaitent mieux comprendre les difficultés rencontrées
      et / ou mettre en place des tests, la partie "Pour aller plus loin ..." offre des pistes de réflexion croisant
      connaissances scientifiques et connaissances techniques.
    </p>


    {{ section.content | safe }}

  </div>
</section>

{% endblock %}