{% extends "base.html" %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js "></script>

<div class="button-container">
  <button class="button active-button">
    <a href="connaissance">CONNAISSANCE </a>
  </button>
  <button class="button"><a href="ressources">RESSOURCES</a></button>
  <button class="button"><a href="faq">FAQ</a></button>
</div>

<h1 class="title">{{ section.title }}</h1>

<div id="carousel__counter">
 {% for page in section.pages %}

<a href="#slide-{{ loop.index }}"><img src=" {{ loop.index }}" alt="{{ loop.index }}"></a>

{% endfor %} 
</div>

<div class="slider">

  <div class="slides">
    {% for page in section.pages %}

    <div class="slide" id="slide-{{ loop.index }}">
      <h3>{{ page.title }}</h3>
      {{ page.content | safe }}
      
    </div>
    {% endfor %}
  </div>



</div>
  <!--     {% for page in section.pages %} -->
  <!--  <details>
      <summary>{{ page.title }}</summary>
      {{ page.content | safe }}
      <p>
      <a class="small_link" href="{{ page.permalink | safe }}">
        (Lien vers la page spécifique de la question)</a>
      </p>
    </details> -->
  <!-- 
  {% endfor %} -->
  <!-- </ul> -->

  {% endblock content %}