{% extends "base.html" %} {% block content %}


<div class="button-container">
  <button class="button active-button"><a href="/connaissance">LE SAVIEZ-VOUS ?</a></button>
  <button class="button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
  <button class="button"><a href="/faq">FAQ</a></button>
  <button class="button"><a href="/ressources">RESSOURCES</a></button>
</div>

<section class="section">
  <div class="idr">
    <h1 class="title">{{ section.title }}</h1>
    {{ section.content | safe }} 
    
    <div class="sommaire_idr">
    {% set_global count = 1 %} {% for page in section.pages %} {% if
      page.extra.is_idr %}
      <p> <a href="/connaissance#slide_idr-{{ count }}"> {{ count }}°) {{ page.title }}</a>

      </p>

        {% set_global count = count + 1 %}
        {% endif %} {% endfor %}
    </div>
    
    <p> Nous présentons ici des informations essentielles pour comprendre les difficultés relatives aux infestations à pou rouge. Il s'agit d'un résumé de l'état de la connaissance sur le pou rouge des poules issue de la recherche scientifique au 18 août 2023. Des liens vers des sources scientifiques (avec quelques explications éventuelles) sont accessibles en cliquant sur « En savoir plus ».
    </p>
  </div>

  <h2 id="h2_idr" class="slider_title">Le saviez-vous ?</h2> 

  <div class="idr_slider">
    <div id="carousel__counter">
      {% set_global count = 1 %} {% for page in section.pages %} {% if
      page.extra.is_idr %}
      <a href="/connaissance#slide_idr-{{ count }}"

        title="{{ page.title | safe }}">
        <span style=" color:white;"> {{ count }} </span> 
        <img class = "counter counter-img" src="/img/icon_IDR.svg" alt="{{ count }}"/> 
        
      </a>
      
      {% set_global count = count + 1 %} {% endif %} {% endfor %}
    </div>

    <div class="slider">
      <div class="slides">
        {% set_global count = 1 %} {% for page in section.pages %} {% if
        page.extra.is_idr %}
        <div class="slide" id="slide_idr-{{ count }}">
          {% set_global count = count - 1 %}
          <a class="previous-slide-arrow" href="/connaissance#slide_idr-{{ count }}">Info précédente</a>
          {% set_global count = count + 2 %}
          <a class="next-slide-arrow" href="/connaissance#slide_idr-{{ count }}">Info suivante</a>
          <h1>{{ page.title }}</h1>
          {{ page.content | safe }}
          
        </div>
        
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

</section>

{% endblock content %}
