<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Pou Rouge</title>
  <base href="https://pourougepoule.fr/" /> 
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="media.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/"><img id="logo" src="/img/logo_PP.svg" alt="logo" /></a>
    <h1><a href="/">POUROUGEPOULE</a></h1>

    <div class="search-container">
      <input id="search" type="search" placeholder="🔎 Rechercher dans le site">

      <div class="search-results">
        <div class="search-results__items"></div>
      </div>
    </div>

     <nav>
      <ul>
        <li><a href="/ressources"><img src="/img/icon_web_ressource_sm.png" alt="Ressources"></a></li>
        <li><a href="/faq"><img src="/img/icon_help_sm.png" alt="FAQ"></a></li>
        <li><a href="/gestion"><img src="/img/icon_gestion_sm.webp" alt="Gestion intégrée"></a></li>
        <li><a href="/connaissance"><img src="/img/icon_article_sm.png" alt="Connaissance"></a></li>
      </ul>
    </nav>
  </header>
  
  <div class="accueil">
    
    <div class="button-container">
      <button class="button"><a href="/connaissance">LE SAVIEZ-VOUS ?</a></button>
      <button class="button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
      <button class="button"><a href="/faq">FAQ</a></button>
      <button class="button"><a href="/ressources">RESSOURCES</a></button>
    </div>

    <section class="section">
   
      <div class="container apropos">
           
    <p style="text-align: center;"><img src="/img/img_accueil.webp" alt="image accueil"/>  </p>
    
        {% block content %}
        {{ section.content | safe }}
        {% endblock %}
      </div>
    </section>

    <footer>
      <p><strong>Réalisation du site:</strong> Adrien Taudière et Axelle Delmas à l'aide du logiciel libre <a
          href="https://getzola.org">Zola</a>. </p>
      <p><strong>Texte et images :</strong> Axelle Delmas et Lise Roy.</p>
      <p><strong>Licence :</strong> L'ensemble du texte et des images du site sont sous <a rel="license"
          href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons Attribution 4.0 International</a> <a
          rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licence Creative Commons"
            style="border-width:0; width: 80px; vertical-align: middle;" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
    </footer>

</body>

<script type="text/javascript" src="/elasticlunr.min.js"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>

</html>