<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Pou Rouge</title>
 <!-- <base href="https://pourougepoule.fr/" />  -->
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="media.css" />
</head>

<body>
  <header>
    <a href="/"><img id= "logo" src="/img/logo_PP.png" alt="logo" /></a>
    <h1><a href="/">POUROUGEPOULE</a></h1>
    <nav>
      <ul>
        <li><a href="/#a-propos"><img src="/img/icon_contact_sm.png" alt="À propos"></a></li>
        <li><a href="/connaissance"><img src="/img/icon_article_sm.png" alt="Connaissance"></a></li>
        <li><a href="/gestion"><img src="/img/icon_gestion.png" alt="Gestion intégrée"></a></li>
        <li><a href="/faq"><img src="/img/icon_help_sm.png" alt="FAQ"></a></li>
        <li><a href="/ressources"><img src="/img/icon_web_ressource_sm.png" alt="Ressources"></a></li>
      </ul>
    </nav>
  </header>
  <div class="acceuil">
    <img src="/img/img_acceuil.webp" alt="image acceuil"/>

    <div class="button-container">
      <button class="button"><a href="/connaissance">LE SAVIEZ-VOUS</a></button>
      <button class="button"><a href="/gestion">GESTION INTÉGRÉE</a></button>
      <button class="button"><a href="/faq">FAQ</a></button>
      <button class="button"><a href="/ressources">RESSOURCES</a></button>
    </div>

    <section class="section">
      <div class="container apropos">
        {% block content %}
        {{ section.content | safe }}
        {% endblock %}
      </div>
    </section>
</body>

</html>