{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>



<summary class="liste">Liste de question</summary>
<details>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  

  
  {% for page in section.pages %}
  <summary> {{ page.title }} <a href="{{ page.permalink | safe }}"> (Lien)</a> </summary>
  
  <details> {{ page.content | safe }} </details>
  {% endfor %}
  
</ul>

</details>
{% endblock content %}